*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;

}
ol{
    font-weight: bold;
}
ul{
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}
ul li{
    list-style: none;
}
/* icons */
.callbtn, .whatsappbtn{
    position: fixed;
left: 1rem;
font-size: 2rem;
padding:0.25rem 0.75rem;
border-radius: 50%;
z-index: 98;
  }
  @keyframes shadow {
    0%{
      box-shadow:  0px 4px 10px rgb(59, 149, 200);
    }
    100%{
      box-shadow: rgb(59, 149, 200) 0px 4px 10px 0px, rgb(59, 149, 200) 0px 0px 0px 1.2652px, rgb(59, 149, 200) 0px 0px 0px 6.2652px, rgba(59, 149, 200, 0.745) 0px 0px 0px 12.5304px;
    }
  }
  .callbtn{
    background-color: blue;
    color: #fff;
    bottom: 8rem;
    animation: shadow 1.5s ease-out infinite;
     /* box-shadow: rgb(59, 149, 200) 0px 4px 10px 0px, rgb(59, 149, 200) 0px 0px 0px 1.2652px, rgb(59, 149, 200) 0px 0px 0px 6.2652px, rgba(59, 149, 200, 0.745) 0px 0px 0px 12.5304px; */
  }
  .whatsappbtn{
     background-color: green;
    color: #fff;
    bottom: 2rem;
  }
/* nav */
nav{
    background: #115478;
}
nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a{
    color: #fff;
    display: flex;
    gap: 1rem;
font-weight: 600;
}
nav a p{
    margin-bottom: 0;
}

/* header */
header{
    /* background-color: #7b949ccf; */
    background-color: #a7c9d5cf;
    /* background-color: rgb(175, 221, 239); */
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 98;
    border-bottom: 2px solid #115478;
}
header ul .bdrbtn{
    margin-left: 2rem;
    position: relative;
}
header ul .bdrbtn::after{
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 0;
height: 4px;
background-color: #115478;
margin-bottom: -5px;
transition: 0.3s;
}
header ul .bdrbtn:hover::after{
    width: 100%;
}
header ul li a{
   font-size: 1.25rem;
   color: #115478;
   font-weight: 500;
}
.menuicon{
    color: #115478;
    font-size: 2rem;
    border: 2px solid #115478;
    border-radius: 10px;
    padding: 0 0.2rem;
    background-color: #fff;
}
.btndesign{
    background-color: #115478;
    border-radius: 30px;
    padding:0.75rem 1.25rem;
     font-size: 1.25rem;
   color: #fff;
   font-weight: 500;
   transition: 0.3s;
}
.btndesign:hover{
  background-color: whitesmoke !important;
  color: #115478;
}
@media (max-width:568px) {
.btndesign{
    font-size: 1rem;
    font-weight: normal;
}
}
.dropdown{
    position: relative;
}
.dropdown i{
    display: inline-block;
    transition: 0.3s;
}
.sublist{
    position: absolute;
    left: -50%;
    top: 100px;
    width: 300px;
background-color: #fff;
margin-top: 0.25rem;
opacity: 0;
visibility: hidden;
border-radius: 10px;
box-shadow: 4px 4px 16px grey;
/* border: 2px solid rgba(128, 128, 128, 0.681); */
transition: 0.3s ease-in-out;
}
.dropdown:hover .sublist{
opacity: 1; 
visibility: visible;
top: 30px;
}
.dropdown:hover i{
transform: rotate(90deg);
}
.sublist li{
    margin-left: 0;
    border-bottom: 1px solid gray;
    padding: 0.5rem;
    
}
.sublist li a{
    color: #115478;
}
.sublist li:hover{
    background-color: #115478;
}
.sublist li:hover a{
    color: #fff;
}
.logotext{
    font-size: 12px;
    font-weight: 700;
    color:  #115478;
    margin-left: 8px;
    margin-bottom: 0;
    text-align: center;
}

/* menu */
.menu{
    width: 280px;
    height: 100vh;
    background-color:#ffffffd8 ;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 99;
    transition: 0.3s;
border-right: 2px solid #115478 ;
line-height: 1.8;
overflow-y: scroll;
}
.menu.open{
    left: 0;
}
.menu li{
    border-bottom:1px solid lightgray ;
    padding: 0.5rem 1rem;
    color: #115478;
    cursor: pointer;
}
.menu li:hover{
    background: #115478;
color: #fff;
}

.menu a ,.menu i, .menu span{
    color: #115478;
}
.menu .btndesign{
    color: #fff;
    font-size: 1rem;
    font-weight: normal;
}

.menu .btndesign:hover{
  background-color: #115478;
  color: #fff;
}
/* banner */
.banners{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 30vmax; */
    width: 100%;
    height: 100vmin;
   
}

.banners h1{
font-size: 4rem;

}
.banner1{
    background-image: url(../images/b2.jpg);
}
.banner2{
    background-image: url(../images/banner1.jpg);
}
.banner3{
    background-image: url(../images/b3.jpg);
}
.banner4{
    background-image: url(../images/bird.jpg);
}
.banner5{
    background-image: url(../images/banner2.jpg);
}
.banners>div{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.22);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content:center ;
padding-left: 10% ;
text-shadow: 0 4px 25px black;
}
.banners .btndesign{
    width: fit-content;
}
@media (max-width:568px) {
    .banners>div{
padding-left: 1rem;
    }
    .banners h1{
font-size: 1.25rem;
    }
     .banners h5{
font-size: 1rem;
    }

}

@keyframes textSlideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
.banners h1, .banners h5, .banners .btndesign{
    opacity: 0;
    visibility: hidden;
}
.animate-text h1,
.animate-text h5,
.animate-text a {
     transform: translateY(50px);
  animation: textSlideUp 1.5s ease forwards;
}
@keyframes zoomInBg {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
.carousel-item.active .banners {
  animation: zoomInBg 4s ease forwards;
}


/* book your service today */

.byst .container{
  
    background-color: #115478;
    color: #fff;
    border-radius: 10px;
}
.byst input, .byst select{
    padding: 1rem ;
    width: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
@media (max-width:992px) {
  .byst input, .byst select{
   margin-bottom: 1rem; 
  }
}
 .byst .btndesign{
    /* font-size: 1rem; */
    /* font-weight: normal; */
    background-color: black;
    border-radius: 10px ;
    width: 100%;
} 


/* about on home page */
.aboutusheading{
    position: relative;
    padding-bottom: 8px;
}
.aboutusheading::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 8px;
    height: 4px;
    background-color: #fff;
    z-index: 2;
    animation: move2 5s linear infinite;
}
@keyframes move2 {
    0%,100%{
        left: 0;
    }
    50%{
        left: 62px;
    }
}
.aboutusheading::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 70px;
    background-color: #08293a;
    z-index: 1;
}
.yrsexp{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(15%, -15%);
background-color: #115478;
color: #fff;
border-radius: 50%;
outline: 2px solid #fff;
padding:2rem 1rem;
text-align: center;
z-index: 1;
height: 7rem;
width: 7rem;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
overflow: visible;
}
.yrsexp::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #115478;
  outline-offset: 0.4rem;
  outline: 4px dashed #115478;
  width: calc(100% + 15px);
  height: calc(100% + 15px);
   border-radius: 50%;
z-index: -1;
   animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.textcolor{
color: #115478;
}
.aboutus p{
color: #4d4d4d;
}

/* our services on home */
.ourservices{
    background-color: #115478;
}
.ourservices .row .col-sm-6  div{
   background-color: #fff;
   border-radius: 10px;
}
.ourservices .row .col-sm-6>div{
    transition: 0.3s;
}
.ourservices .row .col-sm-6>div:hover{
    transform: translateY(-10px);
}
/* clients */
.clientdiv{
    display: flex;
    align-items: top;
    justify-content: space-between;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 1rem;
    margin:0 1rem;
    background-color: #fff;
}
.clientdiv img{
border-radius: 50%;
}
@media (max-width:576px) {
   .clientdiv{
    flex-direction: column;

   }
}
.slick-next{
    right: 1rem !important;
    top: -1rem !important;
/* background-color: black !important; */
}
.slick-prev{
    right: 2.5rem !important;
    top: -1rem !important;
    left: unset !important;
}
.slick-next:before, .slick-prev:before {
color: black !important;
}

/* why choose us */
.wcu{
    width: 80%;
}
@media (max-width:1300px) {
    .wcu{
    width: 70%;
}
}
 .imgbtm {
      -webkit-clip-path: polygon(0% 0%, 50% 0, 100% 50%, 50% 99%, 0% 100%);
      clip-path: polygon(0% 0%, 50% 0, 100% 50%, 50% 99%, 0% 100%);
    }

    .imgupr {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      padding: 10px;
      border: 6px solid #1f87be;
      border-right-color: #fff;
    }
.whychooseus > div > div{
    display: flex;
    align-items: center;

}
.whychooseus i{
font-size: 2rem;
margin-right: 1rem;
color: #115478;
}
@media (max-width:992px) {
     .imgupr {
      transform: translate(-50%, -50%)
}
 .wcu{
    width: 100%;
}
}

/* our work */
.ourwork{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
padding: 2.5rem 1rem;
border-radius: 10px;
}
.ourwork i{
font-size: 2rem;
background-color: #115478;
color: #fff;
padding:0.6rem 1rem;
border-radius: 50%;
margin-right: 0.5rem;
 box-shadow: -5px 5px 0 #39b4cb;
}
.ourwork div span{
font-size: 2rem;
font-weight: 700;
}
.ourwork div h6{
font-weight: 700;
}
/* .ourwork {
  text-align: center;
  color: #fff;
} */
/* .ourwork i {
  font-size: 2.5rem;
  color: #ffd700;
  display: block;
  margin-bottom: 10px;
} */
/* .ourwork span {
  font-size: 2.2rem;
  font-weight: 700;
  display: block;
} */
/* .ourwork h6 {
  font-size: 1.1rem;
  margin-top: 0.5rem;
} */


/* process */
.picon{
    display: flex;
    align-items: start;
    justify-content: start;
}
.picon span{
    background-color: #115478;
    color: #fff;
    padding: 0.5rem 0.6rem;
    border-radius: 50%;
    transform: translateX(50%);
}
.picon i{
    margin-top: 0.5rem;
    color: #fff;
    background-color: #115478;
 border-radius: 50% 50% 60% 50%;
    font-size: 3rem;
padding:1.5rem 2rem;
}
.ourplaning h4{
    margin-top: 1rem;
    color: #115478;
}

@media (min-width:992px) {
    .afterimg{
    position: relative;
}
.afterimg::after{
    content: url('../images/nextimg.webp');
     position: absolute;
    top: 50%;
    right: 0;
transform: translate(100%, -50%);
}
}

footer{
    background-color: #a7c9d5cf;
}
footer h4{
    color: #115478;
    position: relative;
    padding-bottom: 8px;
}
footer h4::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 8px;
    height: 4px;
    background-color: #fff;
    z-index: 2;
    animation: move 5s linear infinite;
}
@keyframes move {
    0%,100%{
        left: 0;
    }
    50%{
        left: 92px;
    }

}
footer h4::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100px;
    background-color: #115478;
    z-index: 1;
}
footer li a{
    transition: 0.3s;
    line-height: 1.75;
    color: #115478;
    font-weight: 600;
    display: inline-block;
}
footer li a:hover {
transform: translateX(10px);
color: #08293a;
}


/*  */
/*  */




/* about us page */
.smallbanner{
            background-image: url(../images/banner1.jpg);
            background-position: center;
            background-size:cover;
            background-repeat: no-repeat;
            height: 50vh;
        }
        .smallbanner div{
            height: 100%;
            background-color: rgba(0, 0, 0, 0.386);
            display: flex;
            align-items: center;
            justify-content: center;
        }
         .smallbanner div h1{
            color: #fff;
            font-size: 4rem;
         }
         @media (max-width:576px) {
            .smallbanner div h1{
font-size: 2rem;
    }
         }








         /*  */
         /*  */








         /* contact page */
         .contactdiv i{
            font-size: 2rem;
            color: #fff;
            background-color: #115478;
            box-shadow: -5px 5px 0 #39b4cb;
            border-radius: 50%;
            padding:0.5rem 0.9rem ;
           margin-bottom: 2rem;
           /* transition: 0.3s; */
         }
         .contactdiv{
 display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border: 2px solid grey;
            border-radius: 10px;
            padding: 1rem;
            background-color: #fff;
            box-shadow: 2px 2px 2px 2px grey;
         }
         .contactdiv p{
            margin-bottom: 0;
         }
         
         .gitouch input , .gitouch textarea{
width: 100%;
padding: 0.5rem;
border-radius: 10px;
/* box-shadow: 0px 8px 20px rgba(128, 128, 128, 0.449); */
/* border: none; */
/* border-color: whitesmoke !important; */
border-color: light-dark(#39b4cb,#39b4cb);
         }
          .gitouch input:focus , .gitouch textarea:focus{
             box-shadow: 0px 8px 20px rgba(128, 128, 128, 0.449);
             /* border-color:none !important; */
          }
       .gitouch input:focus-visible , .gitouch textarea:focus-visible{
            border-color: none !important;
          }
          .addressdiv .row{
            box-shadow: 0 4px 12px grey;
          }
          iframe{
            height: 450px;
          }
          @media (max-width:576px) {
            iframe{
            height: 300px;
          } 
           .addressdiv .row{
            box-shadow: none;
          }
          }



















          /* blog */
          .filter{
            font-size: 1.8rem;
            font-weight: bold;
            margin-bottom: 2rem;
            width: fit-content;
          }
          .bloglist{
            background-color: #115478;
            color: #fff;
            height: 100%;
            line-height: 2;
            width: 260px;
            z-index: 99;
          }
          
          .bloglist ul li{
            font-size: 1.1rem;
            font-weight: 600;
            border-bottom: 1px solid #fff;
            padding: 0.75rem 1rem;
            cursor: pointer;
          }
            .bloglist ul li:hover{
                background-color: #1f87be;
            }
          @media (max-width:1200px) {
             .bloglist.onmobile {
  position: fixed;
  right: -300px;
  top: 90px;
  width: 260px;
  height: calc(100vh - 90px); /* ensure it fills the viewport height */
  overflow-y: auto; /* allows full scroll */
  z-index: 999; /* keep above other elements */
  transition: right 0.3s ease-in-out;
}

/* open state */
.bloglist.onmobile.open {
  right: 0;
}

/* Optional: prevent background scroll when sidebar is open */
/* body.menu-open {
  overflow: hidden;
} */


          }
        